{% extends 'body.html' %}
{% block contenido %}

<form method="post">
    {% csrf_token %}
    <div class="card card-danger">

        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-bell-slash"></i> {{ titulo }}
            </h3>
        </div>

        <div class="card-body">
            <div class="alert alert-danger">
                <h5>
                    <i class="icon fas fa-exclamation-triangle"></i> Advertencia
                </h5>

                ¿Deseas eliminar la notificación #{{ object.id }} | {{ object.nombre }}?
                <br>
                <small class="text-muted">
                    Esta acción no se puede deshacer.
                </small>
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-danger">
                <i class="fas fa-check"></i> Sí, eliminar
            </button>

            <a href="{{ listar_url }}" class="btn btn-secondary">
                <i class="fas fa-times"></i> Cancelar
            </a>
        </div>

    </div>
</form>

{% endblock %}
