{% extends 'body.html' %}
{% load static %}

{% block contenido %}

<div class="card">
  <div class="card-header">
    <h3 class="card-title">Listado de Clientes</h3>
  </div>

  <div class="card-body">
    <table class="table table-bordered table-hover" id="tabla">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Documento</th>
          
        </tr>
      </thead>
      <tbody>
        <tbody>

          {% for v in cliente %}
          <tr>
          <td>{{ v.id }}</td>
          <td>{{ v.nombre }}</td>
          <td>{{ v.documento }}</td>
          <td>
            <a href="{% url 'app:editar_cliente' v.id %}"
              class="btn btn-warning btn-sm">
              <i class="fas fa-edit"></i>
            </a>

            <a href="{% url 'app:eliminar_cliente' v.id %}"
              class="btn btn-danger btn-sm">
              <i class="fas fa-trash"></i>
            </a>
          </td>
        </tr>
    {% endfor %}
</tbody>
    </table>
  </div>

  <div class="card-footer">
  
    <a href="{% url 'app:crear_cliente' %}"
       class="btn btn-primary">
      <i class="fas fa-plus"></i> Nuevo cliente
    </a>
  </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'lib/jquery/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>

<script>
  $(document).ready(function () {
    $('#tabla').DataTable({
      responsive: true,
      autoWidth: false,
      language: {
        url: "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"
      }
    });
  });
</script>
{% endblock %}
