{% extends 'body.html' %}
{% load static %}

{% block contenido %}

<h3 class="mb-3">Gestión de Insumos</h3>

<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <span><i class="fas fa-th-list"></i> Listado Registrado</span>
    <a href="{% url 'app:crear_insumo' %}" class="btn btn-primary btn-sm">
      <i class="fas fa-plus"></i> Nuevo Insumo
    </a>
  </div>

  <div class="card-body">
    <table class="table table-bordered table-hover" id="tabla">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Precio unitario</th>
          <th class="text-right">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for c in object_list %}
        <tr>
          <td>{{ c.id }}</td>
          <td>{{ c.nombre }}</td>
          <td>{{ c.cantidad }}</td>
          <td>{{ c.precio_unitario }}</td>
          <td class="text-right">
            <!-- EDITAR -->
            <a href="{% url 'app:editar_insumo' c.id %}" class="btn btn-warning btn-sm">
              <i class="fas fa-edit"></i>
            </a>
            <!-- ELIMINAR -->
            <a href="{% url 'app:eliminar_insumo' c.id %}" class="btn btn-danger btn-sm">
              <i class="fas fa-trash"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'lib/jquery/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>

<script>
  $(document).ready(function () {
    $('#tabla').DataTable({
      responsive: true,
      autoWidth: false,
      language: {
        "zeroRecords": "La busqueda no coincide con ningún insumo",
        "emptyTable": "No hay insumos para mostrar",
        "search": "Buscar:",
        "info": "Mostrando _START_ de _TOTAL_ registros",
        "infoFiltered": "",
        "infoEmpty": "No hay registros de insumo para mostrar",
        'lengthMenu': 'Mostrar _MENU_ registros',
        "paginate": {
            "next": "Siguiente",
            "previous": "Anterior"
        }
      }
    });
  });
</script>

{% endblock %}