{% extends 'body.html' %}
{% load static %}

{% block contenido %}

<table class="table" id="tabla">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    {% for c in Categoria %}
    <tr>
      <td>{{ c.id_categorias }}</td>
      <td>{{ c.nombre_categorias }}</td>
      <td>
        <a href ="{% url 'app:editar_categorias' c.id_categorias %}" class="btn btn-primary btn-xs">
          <i class="fas fa-edit"></i>
        </a>
        <a href ="{% url 'app:eliminar_categorias' c.id_categorias %}" class="btn btn-primary btn-xs">
          <i class="fas fa-trash"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class = "card-footer">
  <a href="{{crear_url}}" class="btn btn-primary btn-xs">
    <i class="fas fa-plus"></i>crear nueva categoria 
  </a>
{% endblock %}

{% block js %}
<script src="{% static 'lib/jquery/jquery-3.6.0.min.js' %}"></script>

<script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>

<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>


// ESTE SCRIPT ES PARA CONFIGURAR EL DATATABLE Y CAMBIAR LOS MENSAJES AL ESPAÑOL
<script>
  $(document).ready(function () {
    $('#tabla').DataTable({
      responsive: true,
      autoWidth: false,
      language: {
        // ESTO CAMBIA EL MENSAJE DE QUE NO SE ENCUENTRAN REGISTROS QUE COINCIDAN CON LA BÚSQUEDA
        "zeroRecords": "La busqueda no coincide con ninguna categoría", 
        
        // ESTO CAMBIA EL MENSAJE CUANDO LA TABLA ESTÁ VACÍA (SIN DATOS)
        "emptyTable": "No hay categorías para mostrar",

        // Esto es para que los campos de esa tabla del listado sigan en español:
        
        "search": "Buscar:",
        "info": "Mostrando _START_ de _TOTAL_ registros",
        "infoFiltered": "",
        "infoEmpty": "No hay registros de categoría para mostrar",
        'lengthMenu': 'Mostrar _MENU_ registros',
        "paginate": {
            "next": "Siguiente",
            "previous": "Anterior"
        }
      }
    });
  });
</script>
{% endblock %}
