{% load static %}
<!doctype html>
<html lang="es">
<head>
    {% include "head.html" %}
    <style>
        body, h1, h2, h3, h4, h5, h6, .nav-link, .brand-text, .sidebar-menu {
            font-family: 'Plus Jakarta Sans', 'DM Sans', sans-serif;
        }
    </style>
</head>
<body class="layout-fixed sidebar-expand-lg sidebar-mini bg-body-tertiary shadow-none">
    
    {% block body %}
    {% endblock %}

    <script src="{% static 'lib/jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/adminlte.min.js' %}"></script>

    {% block js_base %}
    {% endblock %}
</body>
</html>