{% load static %}
<!doctype html>
<html lang="es">
<head>
    {% include "head.html" %}
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600;800&display=swap" rel="stylesheet">
</head>
<body class="layout-fixed sidebar-expand-lg sidebar-mini bg-body-tertiary shadow-none">
    
    {% block body %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@4.0.0-beta2/dist/js/adminlte.min.js"></script>

    {% block js %}
    {% endblock %}
</body>
</html>